<div id="aboutservice" class="popup">
	<a href="#" class="popup__area"></a>
	<div class="popup__body">
		<div class="popup__content">
			<div class="popup__headline">
				<a style="padding-right: 10px;">
					Оформление заказа
				</a>
				<a href="#" class="popup__close close-popup">
					x
				</a>
			</div>
			<div class="popup_form">
				{{Service.Name}}
				<br><br>
				<form class="popup_from__form" method="POST" href="#">
					{% csrf_token %}
					<input type="hidden" name="Service" value="{{Service.Name}}"/>
					<input type="text"name="Name" placeholder="Ваше имя" class="popup_form__input" required>
					<input type="email"name="Email" placeholder="E-mail" class="popup_form__input" required>
					<input type="text"name="Phone" placeholder="Номер телефона" class="popup_form__input" required>
					<textarea rows="7" name="Message" class="popup_form__textarea" placeholder="Сообщение"></textarea>
					<input class="popup_form__button button" name="button" type="submit" value="Заказать" />
				</form>
			</div>
		</div>
	</div>
</div>